.solar-system {
    width: 100%;
    height: 100%;
    background-image: url('img/stars.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.sun {
    line-height: 0;
    position: relative;
    z-index: 10;
    animation-name: around;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.earth-orbit {
    width: 160px;
    position: absolute;
    animation-name: around;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.earth {
    width: 25px;
    height: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}

.moon-orbit {
    line-height: 0;
    position: absolute;
    width: 40px;
    top: 6px;
    animation-name: around;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moon {
    width: 8px;
    height: 8px;
}

.mars-orbit {
    line-height: 0;
    position: absolute;
    width: 250px;
    animation-name: around;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-name: reverse;
}

.mars {
    width: 12px;
    height: 12px;
}

@keyframes around {

    100% {
        transform: rotate(360deg);
    }
}

@keyframes reverse {

    100% {
        transform: rotate(-360deg);
    }
}



