

.conic {
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background: conic-gradient(
                            /* Orange */
                            #e66465,
                            /* #e66465 0%, */
                            /* #e66465 20%, */
                            /* #e66465 25%, */
                            /* #e66465 30%, */

                            /* Green */
                            #218380,
                            /* #218380 20%, */
                            /* #218380 25%, */
                            /* #218380 30%, */
                            /* #218380 35%, */

                            /* Pink */
                            #C95485,
                            /* #C95485 30%, */
                            /* #C95485 35%, */
                            /* #C95485 50%, */
                            /* #C95485 55%, */

                            /* Yellow */
                            #FBB13C,
                            /* #FBB13C 45%, */
                            /* #FBB13C 50%, */
                            /* #FBB13C 70%, */
                            /* #FBB13C 75%, */

                            /* Blue */
                            #73D2DE
                            /* #73D2DE 70% */
                            /* #73D2DE 75% */
                            /* #73D2DE 80% */
                            /* #73D2DE 100% */
                            )
}


