.linear {
    width: 280px;
    height: 250px;
    background: linear-gradient(
                                /* 45deg, */
                                /* 135deg, */
                                /* 230deg, */

                                /* Orange */
                                #e66465,
                                /* #ED1D69 0px, */
                                /* #ED1D69 20px, */
                                /* #ED1D69 0%, */
                                /* #ED1D69 20%, */
                                
                                /* Pink */
                                #C95485,
                                 /* #C95485 20px, */
                                /* #C95485 40px, */
                                /* #C95485 20%, */
                                /* #C95485 40%, */

                                /* Green */
                                #218380,
                                /* #218380 40px, */
                                /* #218380 60px, */
                                /* #218380 40%, */
                                /* #218380 60%, */

                                /* Yellow */
                                #FBB13C,
                                /* #FBB13C 60px, */
                                /* #FBB13C 80px, */
                                /* #FBB13C 60%, */
                                /* #FBB13C 80%, */

                                /* Blue */
                                #73D2DE
                                
                                /* #73D2DE 80px, */
                                /* #73D2DE 100px */
                                /* #73D2DE 80%, */
                                /* #73D2DE 100% */
                                );
}


